/* -- PAGE ELEMENTS -- */
body, html {
    height: 100%;
    width: 100%;
    margin: 0px;

    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
}


/* -- CUSTOM FONTS -- */
@font-face {
    font-family: "Uni Sans";
    src: url("../content/fonts/Uni\ Sans\ Heavy.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "DIN";
    src: url("../content/fonts/D-DINExp.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "DIN";
    src: url("../content/fonts/D-DINExp-Italic.otf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "DIN";
    src: url("../content/fonts/D-DINExp-Bold.otf");
    font-weight: bold;
    font-style: normal;
}


/* -- TEXT -- */
h1 {
    font-family: "Uni Sans", sans-serif;
    font-weight: bold;

    text-transform: uppercase;
    font-size: 50px;

    color: var(--tertiary);
}

h2 {
    font-family: "Uni Sans", sans-serif;
    font-weight: bold;

    font-size: 30px;

    text-transform: uppercase;

    color: var(--tertiary);
}

h3 {
    font-family: "DIN", sans-serif;
    font-weight: bold;

    text-transform: uppercase;

    color: var(--primary);
}

h4 {
    font-family: "DIN", sans-serif;
    font-weight: bold;

    text-transform: uppercase;

    color: var(--primary);
}

p, ul, ol, q {
    font-family: "DIN", sans-serif;
    font-weight: normal;

    color: var(--secondary)
}


/* -- SEPARATORS -- */
.sep.horizontal {
    width: 100%;
    height: 0%;
    border-bottom: 1px solid var(--tertiary);

    margin: 40px 0px;
}

.sep.vertical {
    height: 100%;
    width: 0%;
    border-left: 1px solid var(--tertiary);
}


/* -- BUTTONS -- */
.button {
    padding: 10px 50px;
    margin: 10px;

    border: none;
    
    font-family: "DIN", sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    background-color: none;
    color: var(--secondary);

    box-sizing: border-box;
}
.button.icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;

    padding: 10px;
}
.button.with-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;

    padding: 10px 20px;
    margin: 5px;

    height: 50px;
}
.button.with-icon > .material-icons-round {
    line-height: 0px;
    margin-right: 20px;
}

.button:hover {
    padding-bottom: 8px; 
    border-bottom: 2px solid var(--secondary);
    cursor: pointer;
}
.button:focus {
    border: 1px solid var(--secondary);
    border-bottom: 2px solid var(--secondary);
}
.button.highlight {
    background-color: var(--secondary);
    color: var(--tertiary);
}
.button.highlight.alt {
    color: var(--primary);
}

.button.primary {
    background-color: none;
    color: var(--primary);
}
.button.primary:hover {
    border-bottom: 2px solid var(--primary);
    cursor: pointer;
}
.button.primary:focus {
    border: 1px solid var(--primary);
    border-bottom: 2px solid var(--primary);
}
.button.primary.highlight {
    background-color: var(--primary);
    color: var(--tertiary);
}
.button.primary.highlight.alt {
    color: var(--secondary);
}

.button.tertiary {
    background-color: none;
    color: var(--tertiary);
}
.button.button.tertiary:hover {
    border-bottom: 2px solid var(--tertiary);
    cursor: pointer;
}
.button.tertiary:focus {
    border: 1px solid var(--tertiary);
    border-bottom: 2px solid var(--tertiary);
}
.button.tertiary.highlight {
    background-color: var(--tertiary);
    color: var(--secondary);
}
.button.tertiary.highlight.alt {
    color: var(--primary);
}

.button.disabled {
    opacity: 50%;
}
.button.mobile {
    display: none;
}


/* -- NAV -- */
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    width: 100%;
    box-sizing: border-box;

    transition-duration: 0.2s;
    z-index: 999;
    padding: 15px;
}
.nav.on-scroll {
    background: var(--primaryGlass);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.nav > img {
    width: 40px;
    height: auto;
}

.nav > .nav-buttons {
    display: flex;
    flex-direction: row;
    height: auto;
}

.nav > .nav-buttons > .button {
    margin: 0px 5px;
}


/* -- FULL-PAGE NAV -- */
.full-page-nav {
    background: var(--primary);
    
    position: fixed;
    z-index: 999;
    
    width: 0%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    transition-duration: 0.3s;
}

.full-page-nav > .button.icon {
    position: absolute;
    top: 50px;
    right: 50px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 20px;
    font-size: 35px;
}

.nav-content {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    box-sizing: border-box;
}

.nav-content > .button {
    margin: 20px 0px;
    width: 75%;
    
    box-sizing: border-box;
    
    font-size: 20px;
    padding: 20px;
}


/* -- HEADER -- */
.header {
    width: 100%;
    height: 100%;

    background: url("../content/images/default-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.header > img {
    width: 50%;
    height: auto;

    max-width: 750px;
}

.header > .scroll-icon {
    color: var(--secondary);
    font-size: 35px;

    position: absolute;
    bottom: 50px;
}


/* -- MAIN CONTENT -- */
.main {
    width: 100%;
    padding: 0px 250px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    background-color: var(--secondary);
}


/* -- PAGE SECTIONS -- */
.page-section {
    padding: 75px 0px;
    min-height: 200px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page-section.right {
    flex-flow: row-reverse;
}

.section-text {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    box-sizing: border-box;
}
.section-text.w100 {
    width: 100%;
}
.section-text.w50 {
    width: 50%;
}
.page-section.right > .section-text {
    align-items: flex-end;
    text-align: right;
}
.page-section.center > .section-text {
    align-items: center;
    text-align: center;
}

.section-text > h1, .section-text > h2, .section-text > h3, .section-text > h4 {
    margin: 0px;
}

.section-text > h2 {
    margin-top: 40px;
}

.section-text > p, .section-text > ul {
    color: var(--tertiary);
    margin: 20px 0px;
}

.section-text > p.list-below {
    margin-bottom: 5px;
}

.section-text > ul {
    margin-top: 0px;
}

.section-text > .button-row {
    display: flex;
    flex-direction: row;

    margin: 0px;
    padding: 0px;
}


/* -- MEDIA QUERIES -- */
@media screen and (max-width: 1400px) {

    .main {
        padding: 0px 75px;
    }

}

@media screen and (max-width: 1000px) {
    .page-section {
        flex-direction: column;
    }

    .section-text.w100, .section-text.w50 {
        width: 100%;
    }

    .header > img {
        width: 75%;
    }
}

@media screen and (max-width: 800px) {
    .button {
        padding: 20px 50px;
    }
    .button.icon {
        padding: 20px;
    }

    .button.mobile {
        display: inherit;
    }

    .nav-buttons > .button:not(.mobile) {
        display: none;
    }

    .section-text > .button-row {
        flex-direction: column;

        width: 100%;
    }
}