:root {
    --primary: #F49056;
    --primaryGlass: #F49056E6;

    --secondary: #343434;

    --tertiary: #FFFFFF;
    --tertiaryGlass1: #FFFFFF1A;
    --tertiaryGlass2: #FFFFFFBF;

    --quarternary: #5C77B7;
}