/* Layout Assistance */
.page-content {
    height: calc(90% - 50px);
}


/* Nav Content */
.nav {
    background-image: url(../../assets/backgrounddark.png);
}

.nav-left {
    width: 50%;
    
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.nav-left > img {
    margin: 10px;
}

.nav-right {
    width: 50%;
    
    display: flex;
    justify-content: flex-end;
    align-content: center;
}


/* Column Content */
.column {
    height: 100%;
}

.sep {
    width: 2%;
}

.column-left {
    width: 28%;
    
    display: flex;
    flex-direction: column;
}

.column-left > .button {    
    padding-left: 20px;
    padding-right: 20px;
    
    text-align: center;
    
}

.column-right {
    width: 68%;
    
    white-space: nowrap;
    overflow: scroll;
    
    -webkit-overflow-scrolling: touch;
    
    display: flex;
    flex-direction: row;
}

.scroll-content {
    min-width: 1200px;
    
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    align-content: center;
}


/* Card Content */
.card {
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 100%; 
    
    overflow-y: scroll;
    
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-bottom: 1px solid white;
    
    margin-right: 2%;
}

.card > h1 {
    margin: 20px 40px;
    
    font-size: 25px;
}

.card > h2 {
    margin: 20px 40px;
    
    font-size: 20px;
}

.card > p, ul {
    margin: 20px 40px;
    width: 300px;
    white-space: normal;
    
    font-size: 15px;
}

p.code {
    font-family: robotoMono;
    text-align: center;
}